body {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

.header-nav ul,
.hotels ul,
.footer ul,
.advertisement ol,
.filter ul,
.sort ul {
	list-style: none;
}

.header {
	padding: 0;
}

.header .logo {
	width: 140px;
	height: 72px;
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	top: -1px;
}

.header-nav ul {
	display: flex;
	padding: 0;
	margin: 0;
}

.header-nav li {
	box-sizing: border-box;
	width: 239px;
	padding: 15px;
	text-align: center;
}

.header-nav li:nth-child(2) {
	margin-right: 244px;
}

.header-nav a {
	color: #000000;

	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
}


.header-nav a:hover {
	color: #81b3d2;
}

.header-nav a:active {
	color: rgba(0, 0, 0, 0.3);
}

.header-nav .active {
	color: #766357;
}

.hotels a {
	color: #000000;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}


.hotels a:hover {
	color: #81b3d2;
}

.hotels a:active {
	color: rgba(0, 0, 0, 0.3);
}

.footer a {
	color: #000000;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}


.footer a:hover {
	color: #81b3d2;
}

.footer a:active {
	color: rgba(0, 0, 0, 0.3);
}

.hotels-buttons .btn-details {
	text-align: center;
	display: block;
	width: 110px;
	background-color: #81b3d2;
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 16px;
	padding-left: 16px;
}

.hotels-buttons .btn-details:hover {
	background-color: #669ec0;
	color: #ffffff;
}

.hotels-buttons .btn-details:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.hotels-buttons .btn-to-book {
	text-align: center;
	display: block;
	width: 110px;
	background-color: #766357;
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 16px;
	padding-left: 16px;
}

.hotels-buttons .btn-to-book:hover {
	background-color: #604e43;
	color: #ffffff;
}

.hotels-buttons .btn-to-book:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}


.slogan {
	background: url("../img/background-banner.jpg") no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 76px;
	height: 430px;
}

.slogan::after {
	content: "";
	width: 1200px;
	height: 59px;
	position: relative;
	margin-top: auto;
	bottom: -3px;
	background: url("../img/polygon.svg") no-repeat;
}

.headline {
	margin-top: 62px;
	margin-bottom: 55px;
}

.headline h1 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	text-align: center;
	width: 550px;
	margin: auto;
	margin-bottom: 30px;
}

.advertisement {
	width: 100%;
}

.advertisement p {
	text-align: center;
}

.advertisement ol {
	padding-left: 0;
}

.advertisement li {
	display: flex;
	flex-wrap: wrap;
}

.advertisement-item {
	color: #ffffff;
	background-color: #81b3d2;
}

.advertisement-other-item {
	background-color: #eeeeee;
}

.advertisement-other-item {
	display: flex;
}

.advertisement-other-item li {
	text-align: center;
	width: 400px;
	padding-top: 48px;
	padding-right: 51px;
    padding-left: 51px;
    padding-bottom: 45px;
	box-sizing: border-box;
}

.advertisement-other-item h2 {
	width: 150px;
	padding-right: 75px;
	padding-left: 75px;
	margin: auto;
	margin-bottom: 25px;
}

.advertisement-other-item span {
	margin: auto;
	display: block;
}

.advertisement-other-item p {
	width: 300px;
	margin-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
}

.advertisement-item .advertisement-item-title {
	width: 400px;
	text-align: center;
	padding-top: 46px;
	padding-right: 51px;
	padding-left: 51px;
	box-sizing: border-box;
}

.advertisement-item p {
	font-size: 14px;
	margin-top: 20px;
	padding: 0;
}

.advertisement-item h2 {
	width: 200px;
	margin: auto;
	margin-bottom: 27px;
}

.nested-list {
	background-color: #ffffff;
	color: #333333;
	display: flex;
	padding-left: 0;
	min-height: 330px;
	width: 100%;
}

.nested-list li {
	width: 400px;
	padding-left: 51px;
	padding-right: 51px;
	padding-bottom: 68px;
	box-sizing: border-box;
}

.nested-list .housing::before {
	content: "";
	position: absolute;
	top: -100px;
	left: 50%;
	margin-left: -37px;
	width: 75px;
	height: 72px;
	background: url("../img/icon-1.svg") no-repeat;
}

.nested-list .food::before {
	content: "";
	position: absolute;
	top: -100px;
	left: 50%;
	margin-left: -37px;
	width: 74px;
	height: 70px;
	background: url("../img/icon-3.svg") no-repeat;
}

.nested-list .souvenirs::before {
	content: "";
	position: absolute;
	top: -105px;
	left: 50%;
	margin-left: -32px;
	width: 64px;
	height: 76px;
	background: url("../img/icon-2.svg") no-repeat;
}

.nested-list h3 {
	position: relative;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	margin: auto;
	margin-top: 160px;
}

.nested-list p {
	margin-top: 24px;
}

.search-box {
	font-size: 14px;
	line-height: 24px;
	background-color: #ffffff;
}

.search-box .lead {
	color: #000000;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	margin: auto;
	margin-top: 45px;
	margin-bottom: 25px;
	width: 600px;
	text-align: center;
}

.lead + p {
	margin-bottom: 45px;
	text-align: center;
}

.search-box .search-button {
	width: 568px;
	background-color: #766357;
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	padding-top: 30px;
	padding-bottom: 30px;
	display: block;
	margin: auto;
	text-transform: uppercase;
	border: none;
}

.search-box .search-button:hover {
	background-color: #604e43;
}

.search-box .search-button:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.search-box label {
	color: #000000;
	font-weight: 700;
	font-size: 14px;
	line-height: 26px;
}

.search-box input {
	background-color: #f2f2f2;
	font-size: 14px;
	font-weight: 700;
}

.search-box input::-webkit-input-placeholder {
	color: #000000;
}


.search-box input:hover {
	background-color: #ebebeb;
}

.search-box input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.search-box .form-button {
	width: 458px;
	background-color: #81b3d2;
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.search-box .form-button:hover {
	background-color: #669ec0;
}

.search-box .form-button:active {
	background-color: #5496bd;
	color: #6aa1c3;
}

.footer {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	background-color: rgba(255, 255, 255, 0.9);
	color: #000000;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer ul {
	display: flex;
}

.footer span {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
}

.hotels a {
	font-size: 21px;
	line-height: 26px;
}

.hotels .rating {
	color: #666666;
	background-color: #f2f2f2;
}

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

.filter {
	background: url("../img/filter-background-banner.jpg") no-repeat;
	color: #ffffff;

}

.filter legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
}

.sort {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}

.sort .result {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.sort a {
	color: #b2b2b2;
	border-bottom: 1px dotted #81b3d2;
}

.sort a:hover {
	color: #81b3d2;
}

.sort a:active {
	color: #000000;
	border: none;
}

.sort .active {
	color: #81b3d2;
	border: none;
}

.sort .arrow {
	color: #cacaca;
	border: none;
}

.sort .arrow:hover {
	color: #000000;
}

.sort .arrow:active {
	color: #81b3d2;
}

.sort .arrow-active {
	color: #81b3d2;
	border: none;
}

.wrap {
	width: 1200px;
	background-color: #ffffff;
	margin: 0 auto;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.map {
	height: 473px;
	background: url("../img/map.png") no-repeat;
}

.map form {
	width: 568px;
	background-color: #ffffff;
	margin: auto;
	padding-top: 41px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 55px;
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.map p {
	display: flex;
	flex-direction: space-between;
	align-items: baseline;
	margin-bottom: 15px;
}

.map p:nth-child(-n+2) {
	width: 100%;
}

.map p:nth-child(3) {
	width: 50%;
}

.map p:nth-child(4) {
	width: 40%;
	margin-left: 46px;
	margin-bottom: 50px;
}

.map input:nth-child(-n+2) {
	width: 345px;
	height: 38px;
	border: none;
	padding: 5px;
	display: block;
	box-sizing: border-box;
	margin-left: auto;

}

.map input:nth-child(3) {
	width: 114px;
	height: 38px;
	border: none;
	text-align: center;
	margin-left: auto;
}

.map input:nth-child(4) {
	width: 114px;
	height: 38px;
	border: none;
	text-align: center;
}

.map .arrival-date-calendar{
	position: absolute;
	top: 54px;
	right: 50px;
	width: 40px;
	height: 40px;
	background-color: transparent;
}

.map .date-of-departure-calendar {
	position: absolute;
	top: 122px;
	right: 50px;
	width: 40px;
	height: 40px;
	background-color: transparent;
}

.map .adult-minus {
	position: absolute;
	background-color: transparent;
	font-size: 30px;
	color: #a9a9a9;
	left: 172px;
	width: 40px;
	height: 40px;
}

.map .adult-plus {
	position: absolute;
	background-color: transparent;
	font-size: 30px;
	color: #a9a9a9;
	left: 246px;
	width: 40px;
	height: 40px;
}

.map .children-minus {
	position: absolute;
	background-color: transparent;
	width: 40px;
	height: 40px;
	color: #a9a9a9;
	font-size: 30px;
	right: 124px;
}

.map .children-plus {
	position: absolute;
	background-color: transparent;
	width: 40px;
	height: 40px;
	color: #a9a9a9;
	font-size: 30px;
	right: 50px;
}

.map button {
	border: none;
	padding: 0;
	margin: 0;
}

.map .form-button {
	width: 100%;
}

.hotels ul {
	padding: 0;
}

.hotels li {
	display: flex;
	padding-top: 28px;
	padding-bottom: 28px;
	padding-left: 70px;
	padding-right: 70px;
	border-bottom: 1px solid #f2f2f2;
}

.hotels img {
	margin-right: 30px;
}

.container h2 {
	margin: 0;
}

.container p {
	margin-top: 5px;
	margin-bottom: 5px;
}

.hotels .hotels-buttons {
	display: flex;
	flex-direction: row;
}

.hotels-buttons a:first-child {
	margin-right: 6px;
}

.container-rating {
	margin-left: auto;
}

.container-rating span {
	display: block;
}

.container-rating span:first-child {
	margin-bottom: 48px;
}

.filter form {
	display: flex;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.filter fieldset {
	width: 150px;
	border: none;
	box-sizing: border-box;
}

.filter fieldset:first-child {
	margin-right: 80px;
}

.filter fieldset:last-child {
	margin-left: auto;
}

.filter ul {
	display: flex;
	border: 2px solid #ffffff;
	border-radius: 2px;
	width: 314px;
	padding: 5px;
}

.filter li {
	width: 157px;
	text-align: center;
}

.filter li:first-child {
	border-right: 2px solid #ffffff;
}

.filter button {
	display: block;
	margin: auto;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	color: #ffffff;
	width: 133px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.filter button:hover {
	color: #000000;
	background-color: #ffffff;
}

.sort {
	display: flex;
	align-items: baseline;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eeeeee;
}

.sort .result {
	margin-right: 55px;
}

.sort ul {
	display: flex;
}

.sort li {
	margin-right: 30px;
}

.sort ul:nth-child(4) {
	margin-left: auto;
}

.arrows li {
	margin: 0;
}

.arrows li:first-child {
	margin-right: 5px;
}